<!-- The Modal -->
<div id="modal" class="flex fixed pin z-50">

	  <!-- Modal content -->
	  <div id="modal-content" class="relative bg-white w-5/6 m-auto flex-col py-8 overflow-auto flex-initial">
	  	<div class="container mx-auto w-5/6">
		    <div class="w-full text-right"><object class="h-6" type="image/svg+xml" role="img" data="/static/images/close.svg" aria-label="close"></object></div>
		    <h2 class="text-5xl font-bold mb-4">Compliance definitions</h2>
		    <p class="text-2xl mb-8">We are tracking Canadian government web security compliance based off the following criteria:</p>
		    <h3 class="text-2xl font-bold mb-4">IT PIN</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

			<hr class="border mt-4 mb-4">

			<h3 class="text-2xl font-bold mb-4">Enforces HTTPS</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

		    <hr class="border mt-4 mb-4">

		    <h3 class="text-2xl font-bold mb-4">HSTS</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

		    <hr class="border mt-4 mb-4">

		    <h3 class="text-2xl font-bold mb-4">Free of known weak protocols and ciphers</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

		    <hr class="border mt-4 mb-4">

		    <h3 class="text-2xl font-bold mb-4">Uses approved certificates</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>
		</div>

	</div>

</div>