<!doctype html>
<html lang="en">

<head>
	
	<title>404</title>
	
	{% include 'includes/head.html' %}
	
</head>

<body class="flex flex-col h-screen ">

	<header role="banner">

		<section id="goc-fip-bar">
	        <div class="container mx-auto flex">
	            <div class="flex-1 pt-2 pb-2">
	                <a href="https://www.canada.ca/" aria-label="Government of Canada">
	                    <object type="image/svg+xml" tabindex="-1" role="img" data="/static/images/fip-dark-en.svg"
	                    	aria-label="Symbol of the Government of Canada / Symbole du gouvernement du Canada" class="h-6"></object>
	                </a>
	            </div>
	        </div>
	    </section>

	</header>

	<main class="flex-1">

		<section id="main-content">
			<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-6 mb-6">
			  <h1>404</h1>

			  <div class="flex flex-row">
			  	<div>
			  		<h2 class="mb-4">We couldn't find that Web page</h2>
			  		<p class="mr-4">If you think you've found an error, please send an email to TBS Cyber Security &lt;<a href="mailto:zzTBSCybers@tbs-sct.gc.ca" class="text-blue hover:text-blue-darker font-bold">zzTBSCybers@tbs-sct.gc.c</a>&gt;.</p>
			  		<p class="mr-4">Return to the <a href="/en/organizations/" class="text-blue hover:text-blue-darker font-bold">home page</a>.</p>
			  	</div>
			  	<div lang="fr">
			  		<h2 class="mb-4 ml-4">Nous ne pouvons trouver cette page Web</h2>
			  		<p class="ml-4">Si vous pensez avoir trouvé une erreur, veuillez en informer par courriel la Cybersécurité du SCT &lt;<a href="mailto:zzTBSCybers@tbs-sct.gc.ca" class="text-blue hover:text-blue-darker font-bold">zzTBSCybers@tbs-sct.gc.c</a>&gt;.</p>
			  		<p class="ml-4">Retournez à la <a href="/fr/organizations/" class="text-blue hover:text-blue-darker font-bold">page d’accueil</a>.</p>
			  	</div>
			  </div>

			</div>
		</section>

	</main>

	<footer id="goc-footer" class="bg-black">

	    <div class="flex flex-col-reverse sm:flex-row container mx-auto">
	        <div class="flex-1 text-center sm:text-right min-width-full mb-2 sm:mb-0">
	            <object class="h-10" type="image/svg+xml" tabindex="-1" role="img" data="/static/images/wordmark-dark.svg" aria-label="Symbol of the Government of Canada / Symbole du gouvernement du Canada"></object>
	        </div>
	    </div>

	</footer>

</body>
</html>