<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5">
	<h1>HTTPS</h1>
	<h2 class="mb-6">Last updated April 16, 2018</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu dolor eget eros consequat congue. Nunc congue arcu imperdiet metus.</p>

	<div class="flex flex-col justify-center md:flex-row lg:flex-row xl:flex-row mt-6 mx-auto xl:w-5/6">
		<div class="flex-1 items-center text-center md:mr-8">
			<h3 class="font-bold text-2xl">HTTPS Enforced</h3>
			<div class="https_chart"></div>
		</div>
		<div class="flex-1 items-center text-center md:ml-8">
			<h3 class="font-bold text-2xl">HSTS</h3>
			<div class="hsts_chart"></div>
		</div>
			{% include 'includes/https/donut.html' %}
	</div>
</div>

